* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#header-nav {
	background-color: rgb(135, 31, 87);
	border-radius: 0;
	border: 0;
}

nav#header-nav.navbar.navbar-expand-sm.navbar-light {
	padding-bottom: 0;
}

.container#nav-container {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar-brand h1 { /* Restaurant name */
	color: white;
	font-size: 1.55em;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	line-height: .75;
	padding-left: 30px;
}

button.navbar-toggler {
	margin-right: 20px;
	margin-bottom: 7px;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

.custom-toggler.navbar-toggler {
	border-color: rgb(237, 225, 232);
	border-color: rgba(237, 225, 232, 0.5);
}


.custom-toggler.navbar-toggler:active {
	border-color: rgb(227, 161, 200);
}


h1, h3 {
	color: rgb(46, 45, 45);
	font-size: 28px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}

h3 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 14px;
}

p {
	color: rgb(46, 45, 45);
}


.navbar #nav-list {
  margin-top: 10px;
  background-color: rgb(247, 230, 239);
}

#tall-section {
	background: rgb(247, 230, 239);
	padding: 0.5em 2em 0.5em 2em;
	margin-bottom: 35px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(110, 104, 107);
}

